# Preparing data

This notebook reads data processed by Galaxy and

 1. Validates sites to ensire that coordinates are correct
 2. Adds information about variants of concern (VOC) and sites under selection

In [74]:
import pandas as pd

In [75]:
!pip install biopython pandasql

Requirement already satisfied: biopython in /usr/local/lib/python3.6/dist-packages (1.78)
Requirement already satisfied: pandasql in /usr/local/lib/python3.6/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from biopython) (1.19.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.3.23)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

In [76]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [77]:
funclass_translation = {'SILENT':'Synonymous','MISSENSE':'Non-synonymous','NONSENSE':'Stop','.':'Non-coding','NONE':'Non-coding'}

## Which dataset to run notebook on?
At this time there are three possible datasets:

 - Boston: `bos`
 - COG-Pre: `cog-pre`
 - COG-Post: `cog-post`

Setting this variable runs all notebook content for this particular dataset. The actual paths are pulled out from `datasets` dict (next cell)

In [78]:
dataset = 'cog-post'

In [79]:
datasets = {
    'bos':
        [   
            'https://github.com/galaxyproject/SARS-CoV-2/raw/master/data/var/bos_by_sample.tsv.gz',
            'https://github.com/galaxyproject/SARS-CoV-2/raw/master/data/var/bos_by_var.tsv.gz'
        ],
    'cog-pre': 
        [   
            'https://github.com/galaxyproject/SARS-CoV-2/raw/master/data/var/cog_20200917_by_sample.tsv.gz',
            'https://github.com/galaxyproject/SARS-CoV-2/raw/master/data/var/cog_20200917_by_var.tsv.gz'
        ],
    'cog-post': 
        [   
            'https://github.com/galaxyproject/SARS-CoV-2/raw/master/data/var/cog_20201120_by_sample.tsv.gz',
            'https://github.com/galaxyproject/SARS-CoV-2/raw/master/data/var/cog_20201120_by_var.tsv.gz'
        ]
}

In [80]:
# SARS-CoV-2 genome assembly url
gnm_url = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/009/858/895/GCF_009858895.2_ASM985889v3/GCF_009858895.2_ASM985889v3_genomic.gbff.gz'
gnm_file = gnm_url.split('/')[-1]

# VOC data
voc_url = 'https://github.com/galaxyproject/SARS-CoV-2/raw/master/data/voc/voc.tsv.gz'

# Selection data
sel_url = 'https://github.com/galaxyproject/SARS-CoV-2/raw/master/data/selection/selection.tsv.gz'

In [81]:
# Get SARS-CoV-2 RefSeq genomes (in GenBank format) from NCBI
import os.path
from os import path
if not path.exists(gnm_file):
    !wget {gnm_url}
    !gunzip {gnm_file}
else:
    print('File {} is already here\nDoing nothing!'.format(gnm_file))

File GCF_009858895.2_ASM985889v3_genomic.gbff.gz is already here
Doing nothing!

In [82]:
from Bio import SeqIO
genome = SeqIO.read(gnm_file[0:len(gnm_file)-3], "genbank")

In [83]:
# Get variants by sample
var = pd.read_csv(datasets[dataset][0],sep='\t')

In [84]:
len(var)

38919

In [85]:
var = var.replace({'FUNCLASS':funclass_translation})

In [86]:
# Changing coordinates to 0-based
var['POS'] = var['POS']-1

In [87]:
# Validation function for checking against genome

def check_against_genome(seqobject,df,pos_base_list,l):
    wrong = []
    slip_sites = dict()
    bad = 0
    good = 0
    pb = df[pos_base_list].to_numpy()
    for item in pb:
        base = seqobject[item[0]:(item[0])+l].seq
        if base != item[1] and len(base) == len(item[1]):
            slip = seqobject[(item[0]-1):(item[0]-1)+l].seq
            if slip == item[1]:
                good += 1
                slip_sites[item[0]] = True
            else:
                bad += 1
                wrong.append([item[1],base,item[0]])
        elif base == item[1] and len(base) == len(item[1]): 
            good += 1
    print ('Total = {}, Wrong = {}, Correct = {}'.format(len(pb),bad,good))
    return(slip_sites,wrong)

In [88]:
check_against_genome(genome,var,['POS','REF'],1)

Total = 38919, Wrong = 0, Correct = 37706

({}, [])

In [89]:
var.head()

       Sample   POS FILTER  ... countunique(change) countunique(FUNCLASS)  change
0  ERR4859723    65      .  ...                   1                     1     C>T
1  ERR4859723   240   PASS  ...                   1                     1     C>T
2  ERR4859723   444   PASS  ...                   2                     1     T>C
3  ERR4859723   528   PASS  ...                   3                     1     G>A
4  ERR4859723  1986   PASS  ...                   1                     1     A>G

[5 rows x 21 columns]

In [90]:
# Variants by site
sites = pd.read_csv(datasets[dataset][1],sep='\t')

In [91]:
len(sites)

5760

In [92]:
sites = sites.replace({'FUNCLASS':funclass_translation})

In [93]:
# Changing coordinates to 0-based
sites['POS'] = sites['POS']-1

In [94]:
check_against_genome(genome,sites,['POS','REF'],1)

Total = 5760, Wrong = 0, Correct = 5017

({}, [])

In [95]:
sites.head()

   POS REF  ...                                           AFs(all) change
0   20   C  ...                                           0.925373    C>T
1   60   G  ...  0.941985,0.002343,0.006428,0.005267,0.003076,0...    G>T
2   64   T  ...                0.012853,0.072581,0.002558,0.397059    T>C
3   65   C  ...  0.932306,0.914634,0.935213,0.942504,0.948718,0...    C>T
4   66   T  ...                                           0.109424    T>C

[5 rows x 17 columns]

In [96]:
sel = pd.read_csv(sel_url,sep='\t')

In [97]:
# Add info about sites under sleection to the main variant table
sites = pysqldf('select sites.*, sel.fel,sel.meme,sel.freq from sites left join sel on sites.POS >= sel.pos and sites.POS <= sel.pos+2 ')

In [98]:
sites.head()

   POS REF ALT IMPACT  ... change fel meme freq
0   20   C   T      .  ...    C>T NaN  NaN  NaN
1   60   G   T      .  ...    G>T NaN  NaN  NaN
2   64   T   C      .  ...    T>C NaN  NaN  NaN
3   65   C   T      .  ...    C>T NaN  NaN  NaN
4   66   T   C      .  ...    T>C NaN  NaN  NaN

[5 rows x 20 columns]

In [99]:
voc = pd.read_csv(voc_url, sep='\t',names=['voc_set','mut','position'],header=None)

In [100]:
voc.head()

  voc_set     mut  position
0   B1351    P71L     26454
1   B1351   T205I     28885
2   B1351  K1655N      5227
3   B1351    D80A     21799
4   B1351   D215G     22204

In [101]:
for item in voc['voc_set'].unique():
    sites = pysqldf('select sites.*, mut from sites left join voc on (POS >= position and POS < position+3) and voc_set = "{0}"'.format(item))
    sites = sites.rename(columns={"mut": item})

In [102]:
pysqldf('select * from sites where P1 is not null')

      POS REF ALT    IMPACT  ...  B1351      P1   B117 BLOOM
0    3827   C   T  MODERATE  ...   None  S1188L   None  None
1   11288   C   T  MODERATE  ...   None     del   del9  None
2   11289   T   C       LOW  ...   None     del   del9  None
3   11289  TG   T      HIGH  ...   None     del   del9  None
4   21613   C   T  MODERATE  ...   None    L18F   None  None
5   21620   C   T  MODERATE  ...   None    T20N   None  None
6   21621   C   A       LOW  ...   None    T20N   None  None
7   21621   C   T       LOW  ...   None    T20N   None  None
8   21637   C   T  MODERATE  ...   None    P26S   None  None
9   21973   G   A  MODERATE  ...   None   D138Y   None  None
10  21973   G   T  MODERATE  ...   None   D138Y   None  None
11  22130   G   T  MODERATE  ...   None   R190S   None  None
12  22131   G   A       LOW  ...   None   R190S   None  None
13  23011   G   C  MODERATE  ...  E484K   E484K   None  E484
14  23062   A   T  MODERATE  ...  N501Y   N501Y  N501Y  None
15  23524   C   T  MODERATE  ...   None   H655Y   None  None
16  23526   T   C       LOW  ...   None   H655Y   None  None
17  24642   T   A       LOW  ...   None  T1027I   None  None
18  28168   A   G       LOW  ...   None    E92K   None  None

[19 rows x 24 columns]

In [103]:
len(sites)

5760

In [104]:
# Assumes df has columns labelled 'ALT' and 'REF'
def chng_type(df):
    df.loc[df['REF'].str.len() == df['ALT'].str.len(), 'type'] = 'SNP'
    df.loc[df['REF'].str.len() != df['ALT'].str.len(), 'type'] = 'Indel'

In [105]:
chng_type(var)
chng_type(sites)

In [106]:
var.to_csv('{}_by_sample_proceseed.tsv'.format(dataset),sep='\t',index=False)
sites.to_csv('{}_by_var_proceseed.tsv'.format(dataset),sep='\t',index=False)
!gzip *.tsv

In [107]:
!ls

bos_by_sample_proceseed.tsv.gz
bos_by_var_proceseed.tsv.gz
cog-post_by_sample_proceseed.tsv.gz
cog-post_by_var_proceseed.tsv.gz
cog-pre_by_sample_proceseed.tsv.gz
cog-pre_by_var_proceseed.tsv.gz
GCF_009858895.2_ASM985889v3_genomic.gbff
GCF_009858895.2_ASM985889v3_genomic.gbff.gz
sample_data

In [108]:
from google.colab import files
files.download('{}_by_sample_proceseed.tsv.gz'.format(dataset))
files.download('{}_by_var_proceseed.tsv.gz'.format(dataset))